version: "3"

services:
  gcloud_datastore:
    build:
      context: .
      dockerfile: gcp/datastore/Dockerfile
      cache_from:
        - ghcr.io/dev-hato/hato-atama/gcloud_datastore:${BRANCH_NAME}
        - ghcr.io/dev-hato/hato-atama/gcloud_datastore
    image: ghcr.io/dev-hato/hato-atama/gcloud_datastore:${BRANCH_NAME}
    tty: true
    environment:
      DATASTORE_PROJECT_ID: app
      DATASTORE_LISTEN_ADDRESS: 0.0.0.0:8081

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
      target: build
      cache_from:
        - ghcr.io/dev-hato/hato-atama/server:${BRANCH_NAME}
        - ghcr.io/dev-hato/hato-atama/server
    image: ghcr.io/dev-hato/hato-atama/server:${BRANCH_NAME}
    volumes:
      - ./server:/go/app/server
    environment:
      PROJECT_ID: app
      DATASTORE_EMULATOR_HOST: "gcloud_datastore:8081"
      PORT: 8082
    command: air -c .air.toml
    ports:
      - 8082:8082

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: build
      cache_from:
        - ghcr.io/dev-hato/hato-atama/frontend:${BRANCH_NAME}
        - ghcr.io/dev-hato/hato-atama/frontend
    image: ghcr.io/dev-hato/hato-atama/frontend:${BRANCH_NAME}
    volumes:
      - ./frontend/src:/usr/src/app/src
    command: npm run dev
    ports:
      - 8080:8080
