version: "3"
services:
  gcloud_datastore:
    build:
      context: ./gcp/datastore
      dockerfile: Dockerfile
    tty: true
    environment:
      DATASTORE_PROJECT_ID: app
      DATASTORE_LISTEN_ADDRESS: 0.0.0.0:8081
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: build
    volumes:
      - ./server:/go/app
    environment:
      PROJECT_ID: app
      DATASTORE_EMULATOR_HOST: "gcloud_datastore:8081"
      PORT: 8082
    command: air -c .air.toml
    ports:
      - 8082:8082
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/usr/src/app/src
    command: npm run dev
    ports:
      - 8080:8080
