---
version: "3.8"

services:

  gcloud_datastore:
    build:
      context: .
      dockerfile: gcp/datastore/Dockerfile
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/gcloud_datastore:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/gcloud_datastore
      x-bake:
        cache-from:
          - type=gha
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/gcloud_datastore:${TAG_NAME}
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/gcloud_datastore
        cache-to:
          - type=gha,mode=max
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/gcloud_datastore:${TAG_NAME}
    init: true
    tty: true
    environment:
      DATASTORE_PROJECT_ID: app
      DATASTORE_LISTEN_ADDRESS: 0.0.0.0:8081

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/server:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/server
      x-bake:
        cache-from:
          - type=gha
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/server:${TAG_NAME}
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/server
        cache-to:
          - type=gha,mode=max
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/server:${TAG_NAME}
    environment:
      PROJECT_ID: app
      DATASTORE_EMULATOR_HOST: "gcloud_datastore:8081"
      PORT: 8082
    ports:
      - "8082:8082"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      cache_from:
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/frontend:${TAG_NAME}
        - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/frontend
      x-bake:
        cache-from:
          - type=gha
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/frontend:${TAG_NAME}
          - ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/frontend
        cache-to:
          - type=gha,mode=max
        platforms:
          - linux/amd64
          - linux/arm64
    image: ghcr.io/${REPOSITORY:-dev-hato/hato-atama}/frontend:${TAG_NAME}
    ports:
      - "8080:8080"
