server {
    listen ${FRONTEND_PORT};

    location ^~ /api/ {
        proxy_pass http://server:${PORT}/api/;
    }

    location ^~ /l/ {
        proxy_pass http://server:${PORT}/l/;
    }

    location ^~ /ping/ {
        proxy_pass http://server:${PORT}/ping/;
    }

    location ~ (.*/)*([^/]*)$ {
        root /usr/share/nginx/html;
        try_files /$2 /index.html;
    }
}
