name: Add to Task List

on:
  pull_request:
    types:
      - opened
      - reopened
  issues:
    types:
      - opened

jobs:
  add-to-task-list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/dev-hato/projects/1
          github-token: ${{secrets.PROJECT_AUTOMATION_GITHUB_TOKEN}}
