---
name: fail-notify

on:
  workflow_run:
    workflows:
      - Add to Task List
      - CodeQL
      - format-json-yml
      - gcr-cleaner
      - release
      - remove-app-engine-versions
      - renovate-config-validator
      - resource-update
      - super-linter
      - update-gitleaks
      - update-go-runtime
    types:
      - completed

jobs:
  fail-notify:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'failure'
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Get slack payload
        id: get_slack_payload
        uses: actions/github-script@v6.3.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/fail_notify/fail_notify/get_slack_payload.js`)
            return script({context})
      - uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: ${{secrets.SLACK_CHANNEL_ID}}
          payload: ${{steps.get_slack_payload.outputs.result}}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
