---
name: format-json-yml

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  format-json-yml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: dev-hato/actions-format-json-yml@v0.0.12
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          repo-name: dev-hato/hato-atama

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
