---
name: format-go

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  format-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - run: sudo chown -R 1000:1000 server/
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - name: Install goimports
        run: |
          echo "$(go env GOPATH)/bin" >> "${GITHUB_PATH}"
          go install golang.org/x/tools/cmd/goimports@latest
      - name: Format files
        run: |
          go_version=$(grep runtime app.yaml | sed -e 's/runtime: go\([0-9]\)\([0-9]*\)/\1.\2/g')
          echo "${go_version}"
          go mod tidy -go="${go_version}"
          goimports -l -w .
      - uses: dev-hato/actions-diff-pr-management@v0.0.10
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-format
          pr-title-prefix: formatが間違ってたので直してあげたよ！
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}
