# .github/workflows/gcr-cleaner.yml
name: "gcr-cleaner"
on:
  schedule:
    - cron: "0 0 */1 * *" # runs daily
  workflow_dispatch: # allows for manual invocation
env:
  GCP_WORKLOAD_IDENTITY_PROVIDER: "projects/765091727073/locations/global/workloadIdentityPools/hato-atama-workload-identity/providers/github"
  GCP_SERVICE_ACCOUNT: "gcr-cleaner@hato-atama.iam.gserviceaccount.com"
permissions:
  id-token: write
  contents: read
jobs:
  gcr-cleaner:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - id: "auth"
        name: "Authenticate to GCP"
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{env.GCP_WORKLOAD_IDENTITY_PROVIDER}}
          service_account: ${{env.GCP_SERVICE_ACCOUNT}}
      # customize based on the gcr-cleaner flags
      - uses: docker://us-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli:0.10.0
        with:
          args: >-
            -repo=asia-docker.pkg.dev/hato-atama/asia.gcr.io -grace=48h -tag-filter-any ".*" -recursive=true
