name: release

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "15"
      - name: npm install
        run: npm install
      - name: build
        run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: frontend
          path: frontend/dist

  deploy-app-engine:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - uses: actions/checkout@v2
      - uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - uses: actions/download-artifact@v2
        with:
          name: frontend
          path: frontend/dist
      - run: gcloud app deploy --quiet --no-promote -v v${GITHUB_RUN_NUMBER}

  migrating-traffic:
    runs-on: ubuntu-latest
    needs: deploy-app-engine
    if: github.event_name == 'push'
    steps:
      - uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - run: gcloud app services set-traffic -v v${GITHUB_RUN_NUMBER}

  create-pr-environment:
    runs-on: ubuntu-latest
    needs: deploy-app-engine
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "<a href=\"https://v${{process.env.GITHUB_RUN_NUMBER}}-dot-hato-atama.an.r.appspot.com\">PR用環境はこちら</a>"
            })
