---
name: remove-app-engine-versions
on:
  pull_request:
    types:
      - closed
permissions:
  id-token: write
  contents: read
jobs:
  remove-app-engine-versions:
    runs-on: ubuntu-latest
    if: github.repository == github.event.pull_request.head.repo.full_name && github.repository == 'dev-hato/hato-atama'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - name: Get run numbers
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        id: get_run_numbers
        env:
          HEAD_REF: ${{github.event.pull_request.head.ref}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {script} = await tsImport( './scripts/get_run_numbers.ts', process.env.GITHUB_WORKSPACE + '/')
            return await script(github, context)
      - id: "auth"
        if: ${{ steps.get_run_numbers.outputs.result != '' }}
        name: "Authenticate to GCP"
        uses: google-github-actions/auth@8254fb75a33b976a221574d287e93919e6a36f70 # v2.1.6
        with:
          workload_identity_provider: "projects/765091727073/locations/global/workloadIdentityPools/hato-atama-workload-identity/providers/github"
          service_account: "actions-deploy@hato-atama.iam.gserviceaccount.com"
      - uses: google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a # v2.1.2
        if: ${{ steps.get_run_numbers.outputs.result != '' }}
      - if: ${{ steps.get_run_numbers.outputs.result != '' }}
        run: gcloud app versions delete --service=default ${{steps.get_run_numbers.outputs.result}}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
