---
name: remove-app-engine-versions

on:
  pull_request:
    types:
      - closed

jobs:
  remove-app-engine-versions:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: github.repository == github.event.pull_request.head.repo.full_name && github.repository == 'dev-hato/hato-atama'
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Get run numbers
        uses: actions/github-script@v6.3.3
        id: get_run_numbers
        env:
          HEAD_REF: ${{github.event.pull_request.head.ref}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/remove_app_engine_versions/remove_app_engine_versions/get_run_numbers.js`)
            return await script({github, context, core})
      - id: 'auth'
        if: ${{ steps.get_run_numbers.outputs.result != '' }}
        name: 'Authenticate to GCP'
        uses: google-github-actions/auth@v0.8.3
        with:
          workload_identity_provider: 'projects/765091727073/locations/global/workloadIdentityPools/hato-atama-workload-identity/providers/github'
          service_account: 'actions-deploy@hato-atama.iam.gserviceaccount.com'
      - uses: google-github-actions/setup-gcloud@v0.6.2
        if: ${{ steps.get_run_numbers.outputs.result != '' }}
      - if: ${{ steps.get_run_numbers.outputs.result != '' }}
        run: gcloud app versions delete --service=default ${{steps.get_run_numbers.outputs.result}}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
