name: resource-update

on:
  workflow_dispatch:
    inputs:
      base-branch-name:
        description: "base branch name"
        required: false
        default: "master"

jobs:
  update-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v2
      - name: Get Node.js version
        id: get_node_version
        run: |
          image_name=hato_atama_frontend_build
          docker build -t ${image_name} --target build -f Dockerfile ..
          node_version=$(docker run -it ${image_name} sh -c "node --version | sed -e 's/^v//g'")
          echo "Node.js version:" ${node_version}
          echo "::set-output name=node_version::${node_version}"
      - uses: actions/setup-node@v2
        with:
          node-version: ${{steps.get_node_version.outputs.node_version}}
      - name: ncu install
        run: npx npm-check-updates -u
      - name: npm update
        run: npm install
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.9.2
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          commit-message: Update frontend
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ${{ github.event.inputs.base-branch-name }}-update-frontend
          base: ${{ github.event.inputs.base-branch-name }}
          delete-branch: true
          title: "Update frontend"
          body: |

          draft: false

  update-test-e2e:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: test/e2e
    steps:
      - uses: actions/checkout@v2
      - name: Get Node.js version
        id: get_node_version
        run: |
          image_name=hato_atama_frontend_build
          docker build -t ${image_name} --target build -f ../../frontend/Dockerfile ../..
          node_version=$(docker run -it ${image_name} sh -c "node --version | sed -e 's/^v//g'")
          echo "Node.js version:" ${node_version}
          echo "::set-output name=node_version::${node_version}"
      - uses: actions/setup-node@v2
        with:
          node-version: ${{steps.get_node_version.outputs.node_version}}
      - name: ncu install
        run: npx npm-check-updates -u
      - name: npm update
        run: npm install
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.9.2
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          commit-message: Update test/e2e
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ${{ github.event.inputs.base-branch-name }}-update-test-e2e
          base: ${{ github.event.inputs.base-branch-name }}
          delete-branch: true
          title: "Update test/e2e"
          body: |

          draft: false

  update-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get Go version
        id: get_go_version
        run: |
          image_name=hato_atama_server_build
          docker build -t ${image_name} --target build -f server/Dockerfile .
          go_version=$(docker run ${image_name} sh -c "go version | awk '{print \$3}' | sed -e 's/^go//g'")
          echo "Go version:" ${go_version}
          echo "::set-output name=go_version::${go_version}"
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{steps.get_go_version.outputs.go_version}}
      - name: go mod update
        run: go get -u ./...
      - name: go mod tidy
        run: go mod tidy
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.9.2
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          commit-message: Update go
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ${{ github.event.inputs.base-branch-name }}-update-go
          base: ${{ github.event.inputs.base-branch-name }}
          delete-branch: true
          title: "Update go"
          body: |

          draft: false
