---
name: resource-update
on:
  workflow_dispatch:
permissions: read-all
jobs:
  update-node:
    strategy:
      matrix:
        path: [frontend, test/e2e]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.path }}
    env:
      SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 168 # 7æ—¥
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          node-version-file: ${{ matrix.path }}/.node-version
          cache: npm
          cache-dependency-path: ${{ matrix.path }}/package-lock.json
      - name: ncu install
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: bash "${GITHUB_WORKSPACE}/scripts/resource_update/update.sh"
      - uses: dev-hato/actions-diff-pr-management@9de3de40217217a73ac95f3751d7bfe1c9f23ead # v2.2.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-${{ matrix.path }}
          pr-title-prefix: Update ${{ matrix.path }}
  update-go:
    runs-on: ubuntu-latest
    env:
      REPOSITORY: ${{github.repository}}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - name: Get Go version
        id: get_go_version
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: bash "${GITHUB_WORKSPACE}/scripts/get_go_version.sh"
      - name: Set up Go
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{steps.get_go_version.outputs.go_version}}
      - name: go mod update
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: bash "${GITHUB_WORKSPACE}/scripts/resource_update/update_go/run_go_mod_tidy.sh"
      - uses: dev-hato/actions-diff-pr-management@9de3de40217217a73ac95f3751d7bfe1c9f23ead # v2.2.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-go
          pr-title-prefix: Update go
