---
name: update-go-runtime

on:
  schedule:
    - cron: '0 21 * * *' # 06:00 JST

jobs:
  # App Engineランタイムのページをスクレイピングし、そこに記述されているGoランタイムのバージョンがアップデートされていたらapp.yamlをアップデートする
  update-go-runtime:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3.5.1
        with:
          node-version-file: .node-version
          cache: npm
      - run: bash "${GITHUB_WORKSPACE}/scripts/update_go_runtime/update_go_runtime/npm_ci.sh"
      - name: Get latest App Engine support version
        id: get_latest_app_engine_support_version
        uses: actions/github-script@v6.3.3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/scripts/update_go_runtime/update_go_runtime/get_latest_app_engine_support_version.js`)
            return await script()
      - run: sed -i -e 's/runtime:.*/${{steps.get_latest_app_engine_support_version.outputs.result}}/g' app.yaml
      - uses: dev-hato/actions-diff-pr-management@v1.0.8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-go-runtime
          pr-title-prefix: App EngineのGoランタイムのバージョンを直してあげたよ！
          repo-name: dev-hato/hato-atama
