---
name: update-go-runtime

on:
  schedule:
    - cron: '0 21 * * *' # 06:00 JST

jobs:
  # App Engineランタイムのページをスクレイピングし、そこに記述されているGoランタイムのバージョンがアップデートされていたらapp.yamlをアップデートする
  update-go-runtime:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3.3.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: |
          npm_version=$(grep \"npm\" package.json \
                        | sed -e 's/ *"npm": "^\(.*\)"/\1/g')
          npm install --prefer-offline --location=global "npm@${npm_version}"
          npm ci --prefer-offline
      - name: Get latest App Engine support version
        id: get_latest_app_engine_support_version
        uses: actions/github-script@v6.1.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const axios = require('axios')
            const cheerio = require('cheerio')

            const response = await axios.get('https://cloud.google.com/appengine/docs/standard/go/runtime')
            const $ = cheerio.load(response.data)
            const versions = Object.fromEntries($('.ds-selector-tabs section').get().map(element => {
              const version = Number($('h3', element).text().replace(/^Go /, ''))
              const versionYAML = $('code', element).text().trim()
              return [version, versionYAML]
            }))
            const latestVersion = Object.keys(versions).sort().pop()
            return {version: latestVersion, versionYAML: versions[latestVersion]}
      - run: sed -i -e 's/runtime:.*/${{fromJson(steps.get_latest_app_engine_support_version.outputs.result).versionYAML}}/g' app.yaml
      - run: sed -i -e 's/go .*/go ${{fromJson(steps.get_latest_app_engine_support_version.outputs.result).version}}/g' go.mod
      - uses: dev-hato/actions-diff-pr-management@v0.0.8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: update-go-runtime
          pr-title-prefix: App EngineのGoランタイムのバージョンを直してあげたよ！
          repo-name: dev-hato/hato-atama
